<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..\public\assets\css\styles.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <title>GiveMeSumSpace</title>
  </head>
  <body>
      <!-- Junbotron -->
      <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container text-danger">
                <h1 class="display-3 font-weight-bold">Give Me Sum Space!!</h1>
                <h3 class="lead font-weight-bold display-4">
                    <h2>Looking for Sum Space to Lease or Lease out?</h2>
                    <h2>Look no Further!  You Have Come to the Right Space!!</h2>                    
                </h3>
            </div>
        </div>
        <!-- Additional Information -->
        <div class="card">
            <div class="card-header">
                <h1 class="text-center text-danger">Why GiveMeSumSpace?</h1>
            </div>
            <div class="card-body">

                <div class="container">
                    <!-- Columns are always 50% wide, on mobile and desktop -->
                    <div class="row">
                      <div class="col-6" id="search">
                        <h3 class="text-center text-danger">Searching for Sum Space:</h3>
                            <ul>
                                <li>Are you ready to venture off and need a place to live? </li>
                                <li>Is your apartment an expesive storage Space due to your busy lifestyle?</li>
                                <li>Are you tired of paying for underutilized anemities in your apartment complex?</li>
                            </ul>
                        </div>
                      <div class="col-6" id="provide">
                        <h3 class="text-center text-danger">Providing Sum Space:</h3>
                        <ul>
                            <li>Do you want to make some extra cash and have underutilized Space in your home?</li>
                            <li>Are you worried that your tenants will unexpectedly leave your rental Space?</li>
                            <li>Do you want to "Pay it forward" by providing affordable Space to responsible individuals?</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <a class="font-weight-bold">These are just some of the reasons why you should join our team aimed at providing communal living Spaces to perspective tenants.  We would love to bridge that gap and find the right combination of tenant/tenant and/or tenant/landlord.  Moreover, you will have the option to identify individuals with the same values that you hold dear.</a>
                        </div>                       
                    </div>
                  </div>
                </div>  
            </div>
        </div>

        <!-- Additional Information -->
        <div class="card">
            <div class="card-header">
                <h1 class="text-center text-danger">Let's Get Started!!</h1>
            </div>
            <div class="card-body">
               <div class="row text-center">
                    <div class="col-6 col-md-2">
                        <h4 class="text-success">Advertise with us!</h4>  
                    </div>
                    <div class="col-6 col-md-4">
                        <h3 class="text-danger">In Search of Sum Space!</h3>
                        <p>We can help find the perfect spot for you with the individuals the same principles you value.  Simply fill out a short questionaire and provide us with what you value most in your future communal habitat.  Click on the link below and create a profile.</p>
                        <a href="#" class="text-success font-weight-bold" title="Create Searcher Profile">Space Searcher Profile</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <h3 class="text-danger">Provide Sum Space!</h3>
                        <p>If you have sum extra space and want some extra cash we can help you find the right tenants.  Simply fill out a short questionaire and provide us with what you value most in your future tenant(s).  Click on the link below and create a profile.</p>
                        <a href="#" class="text-success font-weight-bold" title="Create Provider Profile">Space Provider Profile</a>
                    </div>
                    <div class="col-6 col-md-2">
                        <h4 class="text-success">Advertise with us!</h4>
                    </div>
                </div> 
            </div>
        </div>
        <hr><hr><hr>
  </body>

  <script src="js/home.js" type="text/javascript"></script>
</html>