body {
    background-image: url("images\House02b.png");
    /* opacity: 0.3; */
    /* color:  red; */
    /* font-weight:  bolder; */

}

.flex {
    display: flex;
    flex-wrap: wrap;
  }


/* #search {
    background-image: url("../images/hands01a.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 60px;
    opacity: 0.3;
    color:  red;
    font-weight:  bolder;

} */

/* #provide {
    background-image: url("../images/hands01b.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 100px;
    opacity: 0.3;
    color:  red;
    font-weight:  bolder;
} */
